@charset "utf-8";
/* CSS Document */



body
{
   

   margin-top: 20px;
   font-family: Tahoma;
   
   background: rgb(247,144,0); /* Old browsers */
   background: -moz-linear-gradient(top,  rgba(247,144,0,1) 9%, rgba(250,198,149,1) 42%, rgba(255,255,255,1) 88%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,rgba(247,144,0,1)), color-stop(42%,rgba(250,198,149,1)), color-stop(88%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  rgba(247,144,0,1) 9%,rgba(250,198,149,1) 42%,rgba(255,255,255,1) 88%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  rgba(247,144,0,1) 9%,rgba(250,198,149,1) 42%,rgba(255,255,255,1) 88%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  rgba(247,144,0,1) 9%,rgba(250,198,149,1) 42%,rgba(255,255,255,1) 88%); /* IE10+ */
   background: linear-gradient(top,  rgba(247,144,0,1) 9%,rgba(250,198,149,1) 42%,rgba(255,255,255,1) 88%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

   margin: 0%;
   padding: 0%;
   background-repeat: no-repeat;


}

p
{
	font-size: 12px;	
}

h1
{
	font-size: 18px;
	font-weight: bold;
}

h2
{
	font-size: 16px;
	font-weight: bold;
}

h3
{
	font-size: 14px;
	font-weight: bold;	
}

a:link, visited
{
	color: white;	
}

a:hover
{
	color: white;	
}

#frame
{
	width: 1000px;
	height: auto;
	margin: 0px auto;
}

#nav
{
	width: 1000px;
	height: 26px;
}

.button
{
	float: left;
	width: auto;
	height: 24px;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-top: 2px solid white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-left: 10px;
	padding-top: 2px;
	margin-right: 10px;
	margin-top: 15px;
	min-width: 100px;
}

.button a:link, a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}

.button a:hover
{
	text-decoration: underline;
}

#poweredby
{
	float: right;
	width: 100px;
	height: 26px;
	margin-top: 15px;
	margin-right: 80px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-image: url(../images/facebook_logo.png); 
}

#login
{
	width: 70px;
	height: 24px;
	float:right;
	margin-top: 18px;
}

#content
{
	width: 1000px;
	height: 600px;
	
}

#news
{
	width: 740px;
	height: auto;	
	float: left;
	border: 2px solid white;
}

#info
{
	width: 980px;
	height: 580px;
	border: 1px solid white;
	float: left;
	padding: 10px;
}
#feedback
{
    width: 980px;
    height: 580px;
    border: 1px solid white;
    float: left;
    padding: 10px;
}

#fbcontainer
{
	width: 250px;
	height: 600px;
	border: 2px solid white;
	float: right;
}

#comment
{
	width: 250px;
	height: 600px;
	margin-bottom: 5px;
	padding-left: 2px;
	overflow: auto;
}

#gallery
{
	width: 740px;
	height: 484px;	
	float: left;
	border: 1px solid white;
}

#gallery_comment
{
	width: 250px;
	height: 160px;
	float: left;
	margin: 20px;
	margin-top: 200px;	
}

#image
{
	width: 740px;
	height: 484px;
	float: left;
	margin-left: 140px;	
	margin-top: 50px;	
}